.fundo {
    background-color: black;
}


.header-container {
    background-color: goldenrod;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    padding: 10px 0; /* Espaçamento interno opcional */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Defina a largura máxima conforme necessário */
    margin: 0 auto; /* Centraliza o container na página */
}

.header-left {
    flex: 1; /* Faz com que header-left ocupe todo o espaço disponível */
    text-align: left; /* Alinha o conteúdo à esquerda */
}

.header-right {
    flex: 1; /* Faz com que header-right ocupe todo o espaço disponível */
    text-align: right; /* Alinha o conteúdo à direita */

}
 
.logo {
        width: 80px; /* Defina o tamanho desejado para o logo */
        height: auto; /* Mantém a proporção da imagem */
        max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho máximo da área disponível */
    }

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none; /* Remove sublinhado padrão dos links */
    color: #333; /* Cor do texto do menu */
    font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Tipo de fonte do menu */
    font-size: 22px; /* Tamanho da fonte do menu */
    font-weight: bold; /* Peso da fonte (negrito) */
}

.menu a:hover {
    color: #007bff; /* Cor do texto do menu ao passar o mouse */
}

.fundoDiv {
    background-image: url('/istockphoto-585292028-1024x1024.jpg'); 
    background-size: cover; /* Faz com que a imagem cubra toda a área da div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 800px; /* Altura da div com imagem de fundo */
}